*{
    color: var(--w);
}

:root {
    --w: white;
    --b: black;
    --r: red;
    --y: yellow;
}

h2, h6 {
    font-family: '8BITWONDERNominal';
    
}

#start {
    font-family: '8BITWONDERNominal';
    color: var(--b); 
}

html {
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--b);
}

.bg1 {
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg2 {
    background-image: url(../images/bg2.png);
 
}

#emptyDiv {
    
    min-width:40em;
    min-height:45em;
    
}

.container {
    display: inline-flex;
    position: fixed;
    align-self: center;
    min-height: 30em;
    min-width: none;
    bottom: 0;
    background-image: url(../images/brix.png); 
}

.mainCont {
    padding-bottom: -50px;
}

.row .column {
    padding-left: 1px;
    padding-right: 1px;
    
}

#catBox {
    position:relative;
    padding:1px;
}

#fightBox {
    align-self: center;
    text-align: center;
    min-width: 20em;
}

p {
    font-size: larger;
    font-weight: 800;
    text-shadow: 3px 6px 0 var(--b)
}

#dogBox {
    position:relative;
    padding:1px;
}

#start {
    display: block;
    position: absolute;
    color: var(--w);
    font-size: xx-large;
    text-shadow: 2px 3px 0 var(--b);
    margin-left: 35%;
    margin-right: 30%;
    bottom: 50px;
    text-align: center;
}

.c1:hover {
    background-color: rgb(150, 15, 82);
}

.c2:hover {
    background-color: rgb(6, 105, 105);
}


.t1:hover {
    border-color: chartreuse;
    border-width: 3px;
}

.t2:hover {
    border-color: rgb(142, 58, 252);
    border-width: 3px;
}

h2 {
    text-shadow: 3px 6px 0 var(--b);
}

#fightButton {
    padding-top: 50px;
    color: var(--y);
    text-shadow: 2px 3px 0 var(--b),
                 2px 6px 0 var(--r),
                 2px 5px 0 orange,                
                 2px 4px 0 var(--y);
    font-size: xx-large;
    font-family: "8BITWONDERNominal";
    font-weight:900;
}

.audioDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 40%;
    margin-right: 50%;
}

.audioDiv2 {
    position: absolute;
    top: 0;
    right: 0;
}
audio::-webkit-media-controls-play-button{
    background-color:var(--r);}

#dogPlayer, #catPlayer {
    display: none;
}
    
.fightFluid {
    display: inline;
    float: center;
}

#kitty {
    position: absolute;
    left: 0;
    bottom: 10em;
}

#punch1, #punch2, #punch3, #punch4 {
    display: none;
}

#punch2 {
    display: none;
}

#ko {
    display: none;
}

#doggo {
    position: absolute;
    right: 0;
    bottom: 10em;
}

#timer {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
    font-size: 140px;
    background: rgb(195,34,34);
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(226,253,45,0.8113620448179272) 100%);
    text-shadow: 3px 3px 0 var(--b);
    border-radius: 50px;
    width: 300px;
    
}


#winnerPic {
    display: absolute;
    top: 0;
    text-align: center;
    margin-left: -30px;
    height: auto;
}

#choose {
    font-size: xx-large;
    color: var(--r);
}
#select {
    font-size: xx-large;
    color: darkorange;
}

.btn-hover {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #9915aa, #86ce01, #c9f30b);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.linkHome {
    position: absolute;
    left:0;
    top:0;
}

.winnerSong {
    margin-top: 25%;;
    color: rgb(0, 140, 255);
    text-shadow: 3px 3px 0 var(--b),
                 2px 5px 0 var(--w),                
                 2px 4px 0 var(--y);
    font-size: x-large;
    font-family: "8BITWONDERNominal";
    font-weight:800;
}

