*{
    color: white;
}

h2, h5 {
    font-family: '8BITWONDERNominal';
    
}

#start {
    font-family: '8BITWONDERNominal';
    color: black; 
}

html {
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.bg1 {
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg2 {
    background-image: url(../images/bg2.png);
 
}

#emptyDiv {
    
    min-width:40em;
    min-height:45em;
    
}

.container {
    display: inline-flex;
    position: fixed;
    align-self: center;
    min-height: 30em;
    min-width: none;
    bottom: 0;
    background-image: url(../images/brix.png); 
}


.row .column {
    padding-left: 0px;
    padding-right: 0px;
    
}

#catBox {
    position:relative;
    padding:1px;
}

#fightBox {
    align-self: center;
    text-align: center;
    min-width: 20em;
}

p {
    font-size: larger;
    font-weight: 800;
    text-shadow: 3px 6px 0 black
}

#dogBox {
    position:relative;
    padding:1px;
}

#start {
    position: absolute;
    color: white;
    font-size: xx-large;
    text-shadow: 2px 3px 0 black;
    margin-left: 35%;
    margin-right: 30%;
    bottom: 50px;
    text-align: center;
}

.c1:hover {
    background-color: rgb(150, 15, 82);
}

.c2:hover {
    background-color: rgb(6, 105, 105);
}


.t1:hover {
    border-color: chartreuse;
    border-width: 3px;
}

.t2:hover {
    border-color: rgb(142, 58, 252);
    border-width: 3px;
}

h2 {
    text-shadow: 3px 6px 0 black;
}

#fightButton {
    padding-top: 50px;
    color: yellow;
    text-shadow: 2px 3px 0 black,
                 2px 6px 0 red,
                 2px 5px 0 orange,                
                 2px 4px 0 yellow;
    font-size: xx-large;
    font-family: "8BITWONDERNominal";
    font-weight:900;
}

.audioDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 40%;
    margin-right: 50%;
}

audio::-webkit-media-controls-play-button{
    background-color:red;}

.fightFluid {
    display: inline;
    float: center;
}

#kitty {
    position: absolute;
    left: 0;
    bottom: 10em;
}

#punch1, #punch2, #punch3, #punch4 {
    display: none;
}

#punch2 {
    display: none;
}

#ko {
    display: none;
}

#doggo {
    position: absolute;
    right: 0;
    bottom: 10em;
}

#timer {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
    font-size: 140px;
    background: rgb(195,34,34);
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(226,253,45,0.8113620448179272) 100%);
    text-shadow: 3px 3px 0 black;
    border-radius: 50px;
    width: 300px;
    
}


#winnerPic {
    display: absolute;
    top: 0;
    text-align: center;
    margin-left: -30px;
    height: auto;
}

#choose {
    color: red;
}
#select {
    color: darkorange;
}
